.rolling_barrage{
    top: 0%;
    height: 8%;
    width: 110%;
    position: fixed;
    /*透明度设置*/
    filter:alpha(Opacity=80);-moz-opacity:0.5;opacity: 0.5;
    background-color: #2A60B5;
    left: -10%;
}

.c_welecome{
    right: 20%;
    top: 30%;
    height: 40%;
    width: 60%;
    position: absolute;
}


.cp_button2{
    background-color: #70AD47;
    border: none;
    color: white;
    padding: 20px 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}
.cp_button2 :active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top: 1px;
}

.cp_button1{
    background-color: #FFC000;
    border: none;
    color: white;
    padding: 20px 10px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}
.cp_button1 :active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top: 1px;
}


.cp_message{
    top: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
}

.right_message{
    top: 0%;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow:auto;
}


.cp_number{
    left: 35%;
    position: absolute;
    top: 30%;
}
.left_table{
    left: 2%;
    top: 2%;
    right: 55%;
    height: 95%;
    width: 64%;
    position: absolute;
    border: 1px solid;
    border-color: #F2A774;
}



.reight_mes{
    right: 2%;
    left: 68%;
    width: 30%;
    height: 95%;
    position: absolute;
    border: 1px solid;
    top: 2%;

}

.r_table2{
    overflow-y:auto;
}

.r_tableth1{
    width: 100px;
    height: 50px;
    border: 2px solid burlywood;
}
.r_tableth2{
    width: 100px;
    height: 50px;
    border: 2px solid burlywood;
}

.r_tableth3{
    width: 150px;
    height: 50px;
    border: 2px solid burlywood;
}


.r_table2 tbody tr{
    height: 10%;
}

.rmes_input {
    width: 200px;
    height: 30px;
}

.mes_title{
    top: 0%;
    width: 100%;
    height: 8%;
    position: absolute;
    text-align: center;
}
.cp_message2{
    top: 8%;
    width: 100%;
    height: 90%;
    position: absolute;
}
.left_table2{
    left: 2%;
    top: 8%;
    right: 55%;
    height: 90%;
    width: 64%;
    position: absolute;
    border: 1px solid;
    border-color: #F2A774;
}
.reight_mes2{
    right: 2%;
    left: 68%;
    width: 30%;
    height: 90%;
    position: absolute;
    border: 1px solid;
    top: 8%;
    overflow-y: auto;
}



.c_centerimg{
    top: 20%;
    left: 40%;
    position: absolute;
    width: 20%;
    height: 40%;
}

.c_centerfont{
    top: 70%;
    left: 20%;
    position: absolute;
    width: 70%;
    height: 30%;
}

.c_centerfont2{
    top: 70%;
    left: 30%;
    position: absolute;
    width: 70%;
    height: 30%;
}