/*
特定类
 */

.t_centerindex{
    top: 30%;
    left: 30%;
    position: fixed;
    width: 30%;
    height: 30%;
    z-index: 999;
    background-color: orange;
}

.t_click1{
    left: 18%;
    top: 50%;
    position: absolute;
    background-color: #4472C4;
    color: white;
    width: 20%;
    height: 20%;
}

.t_remove1{
    left: 50%;
    top: 50%;
    position: absolute;
    background-color: #4472C4;
    color: white;
    width: 20%;
    height: 20%;
}


.t_centerfont{
    left: 20%;
    top: 20%;
    position: absolute;
}


.image21{
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-slideleft{
    width: 100%;
    height: 100%;
    position: absolute;
}
.img-slideright{
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-slide{
    width: 100%;
    height: 100%;
    position: absolute;
}

.pagesnumber{
    top: 12%;
    right: 18%;
    position: fixed;
}

.com_screen{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
}
.com_screen21{
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    border-right: 2px solid #4472C4;
}
.com_screen22{
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
}



.right1 {
    top: 5%;
    right: 2%;
    position: absolute;

}

.facetest_btn{
    position: fixed;
    bottom: 20%;

}

.right2 {
    top: 25%;
    right: 2%;
    position: absolute;

}

.right3 {
    bottom: 20%;
    right: 2%;
    position: absolute;
}

.right{
    right: 2.5%;
    top: 8.5%;
    height: 95%;
    width: 10%;
    position: fixed;
    border-left: 2px solid #BBBBBB;
}


.registermes{
    top: 2%;
    height: 20%;
    width: 50%;
    background-color: #0C0C0C;
    position: fixed;
    left: 25%;
    right: 25%;

}

.f_stuiid{
    top: 15%;
    left: 20%;
    width: 50%;
    height: 30%;
    position: absolute;
}



.f_name{
    top: 50%;
    left: 20%;
    width: 50%;
    height: 30%;
    position: absolute;
}

.last_button{
    bottom: 10%;
    left: 30%;
    position: fixed;
}



.f_button5{
    top: 90%;
    border: 1px;
    background-color:  #4472C4;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    position: fixed;
}



.pages {
    bottom: 2%;
    text-align: center;
    position: fixed;
    left: 20%;
    height: 10%;
    width: 70%;
}

.left {
    width: 10%;
    height: 91.5%;
    left: 2%;
    top: 8.5%;
    position: fixed;
    border-right: 2px solid #BBBBBB;
    overflow-y: auto;
}

.button5 {
    background-color: #4472C4;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 15px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}
.button5 :active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top: 1px;
}

.code{
    color: transparent;
    -webkit-text-fill-color: #F9D0B5;/*文字的填充色*/
    -webkit-text-stroke: 0.8px #000;
}


.button2 {
    background-color: rgba(128, 128, 124, 0.42);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.button8 {
    background-color: rgba(128, 128, 124, 0.42);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.button9 {
    background-color: rgba(128, 128, 124, 0.42);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.dd_dwon{
    position: absolute;
    width: 20%;
    height: 20%;
    left:20%;
    top: 20%;
}


.button6{
    background-color:  #4472C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    bottom: 20px;
    position: fixed;
}



.button3{
    border: 1px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    bottom: 0%;
    left: 0%;
    position: absolute;
    height: 80%;
    width: 10%;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}



.button3:active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top: 0.5px;
}

.button7{
    background-color: #4472C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}


.sbutton{
    background-color: #4472C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    bottom: 0%;
    right: 55%;
    position: absolute;
    height: 80%;
    width: 10%;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}


/*按键动态*/
.sbutton:active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top:0.5px;
}


.button4{
    background-color: #4472C4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    bottom: 0%;
    right: 15%;
    position: absolute;
    height: 80%;
    width: 10%;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}


/*按键动态*/
.button4:active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top:0.5px;
}
/*



.p_button3 :active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top: 1px;
}
.p_button2 :active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top: 1px;
}
.p_button1 :active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top: 1px;
}
.f_button1 :active {
    box-shadow: 0px 2px 0px rgba(0,0,0,.2);
    top: 1px;
}*/



.center {
    left: 15%;
    right: 15%;
    top: 8%;
    width: 70%;
    height: 80%;
    border-style: solid;
    border-color: #F2A774;
    background-color: rgba(254, 255, 247, 0);
    position: fixed;
}

.t_choose1 {
    width: 30px;
    height: 30px;
    left: 0%;
    top: 1%;
    position: absolute;
}
.t_choose2 {
    width: 30px;
    height: 30px;
    top: 26%;
    left: 0%;
    position: absolute;
}
.t_choose3 {
    width: 30px;
    height: 30px;
    top: 51%;
    left: 0%;
    position: absolute;
}
.t_choose4 {
    width: 30px;
    height: 30px;
    top: 76%;
    left: 0%;
    position: absolute;
}
.t_choose5 {
    width: 30px;
    height: 30px;
    top: 53%;
    left: 0%;
    position: absolute;
}


/*
.choose:checked:after {

    content: '';
    width: 10px;
    height: 5px;
    border: 2px solid rgba(148, 148, 148, 0.58);
    border-top: transparent;
    border-right: transparent;
    text-align: center;
    display: block;
    position: fixed;
    top: 6px;
    left: 5px;
    vertical-align: middle;
    transform: rotate(-45deg)  scale(1.5,1.5);


}*/
.title{

    left: 35%;
    top: 5%;
    position: absolute;
}

.cbooks{
    left: 20%;
    top: 40%;
    position: absolute;
}

.questiontitle{
    left:10%;
    top: 15%;
    position: absolute;
}

.question{

    left: 10%;
    top: 25%;
    position: absolute;
}


.top{
    /*top: 0px;
    left: 0px;*/
    width: 100%;
    height: 60px;
    /*position: fixed;*/
    background-color: #C7C7C7;
    /*border: solid 1px #BBBBBB;*/
    border-bottom:1px solid  #c2c2c2;
}


.leftfont{
    left: 4%;
    top: 2%;
    position: fixed;
}

.rightfont{
    right: 3%;
    top: 2%;
    position: fixed;
}



.body {
    background: #CDCDCD;
    margin: 0 auto;
    height: 90%;
}


.co_leavemes{
    right: 10%;
    top: 20%;
    height: 30%;
    width: 20%;
    position: fixed;
    border-style: solid;
    border-color: #F2A774;
    z-index: 10;
}

.co_mes{
    top: 25%;
    position: absolute;
    height: 20%;
    width: 50%;
    left: 30%;
    border-radius: 10%;
}

.co_button{
    background-color: #4472C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    bottom: 10%;
    position: absolute;
    left: 36%;
}

.start_button{
    background-color: #4472C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.te_exit{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 300%;
    margin-left: -19%;
    z-index: 10;
}

.te_information_delivery{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 210%;
    margin-left: -19%;
    /* z-index: 10;*/
}

.te_information_service{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 65%;
    margin-left: -19%;
}

.te_field_management{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 10%;
    margin-left: -19%;
}
.te_time_status{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 140%;
    margin-left: -19%;
}
.te_right{
    width:9%;
    /* height:93%;*/
    right: 2px;
    /* top: 8.5%;*/
    position: absolute;
    background-color: #CDCDCD;
    border-left: 1px solid #BBBBBB;
   /* margin-top: 50px;*/
    height: 640px;
}