
.trainroomchose{
    left: 20%;
    top: 20%;
    width: 30%;
    height: 30%;
    position: fixed;
    z-index: 99;
}





.button16{
    background-color:  #4472C4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    bottom: 20px;
}


.f_left{
    height: 90%;
    width: 40%;
    top: 8%;
    position: fixed;
}

.f_button1{
    background-color: #FFC000;
    border:1px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    top: 2%;
    right: 20%;
    width: 20%;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}

.f_font1{
    position: absolute;
    height: 15%;
    left: 10%;
    top:3%;
}

.f_leftmes{
    height: 80%;
    width: 90%;
    top: 10%;
    position: absolute;
}


.f_table1{
    border-collapse: collapse;
    text-align:center;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    position: absolute;
    border:solid 1px #4472C4;
    overflow-y:auto;
    display: block;
    border-spacing: 0;
    table-layout: fixed;
    left: 2%;
}
.f_table1 tbody tr th {
    padding: 8px 12px;
    text-align: center;
    color: #333;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 70%;
}
.f_table1 tbody tr{
    height: 10%;
}

.f_table1 tbody tr th input{
    width:20px;
    height: 20px;
}
.f_table2 tbody tr th input{
    width:20px;
    height: 20px;
}

.f_rmessage{
    right: 10%;
    height: 90%;
    width: 40%;
    top: 8%;
    position: fixed;
}

.f_font2{
    position: absolute;
    height: 15%;
    left: 0%;
    top:3%;
}

.f_input1{
    position: absolute;
    height: 5%;
    width: 40%;
    left: 20%;
    top:2%;
}

.f_button2{
    background-color: #FFC000;
    border:1px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    top: 2%;
    right: 10%;
    width: 20%;
}

.f_table2mes{
    height: 80%;
    width: 90%;
    top: 10%;
    position: absolute;
}



.f_table2{
    border-collapse: collapse;
    text-align:center;
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    position: absolute;
    border:solid 2px #FFC000;
    overflow-y:auto;
    display: block;
    border-spacing: 0;
    table-layout: fixed;
}
.f_table2 tbody tr th {
    padding: 8px 12px;
    text-align: center;
    color: #333;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
}
.f_table2 tbody tr{
    height: 10%;
}
.f_bottom{
    bottom: 2%;
    left: 20%;
    right: 20%;
    position: fixed;
}