.delivery_sbox{
    bottom: 0%;
    background-color: #4472C4;
    height: 70%;
    width: 80%;
    position: absolute;
}

.d_button1{
    background-color:  #4472C4;
    border:1px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    bottom: 0%;
    height: 15%;
    width: 8%;
    right: 2%;
    top: 2%;
}

.d_popup{
    height: 35%;
    width: 10%;
    right: 9%;
    bottom: 15%;
    position: fixed;
    background-color: #C8C8C8 ;
}
.d_text{
    top:3%;
    left: 3%;
    height: 95%;
    width: 50%;
    position: absolute;
    margin:0px; padding:0px;/*表单输入框内文字居中*/
    vertical-align:middle;/*表单控件上下居中对齐*/
    text-align: center;
}
.d_choose{
    top:38%;
    left: 55%;
    height: 60%;
    width: 30%;
    text-align: center;
    position: absolute;
    background-color:#CDCDCD;
}
.d_font{
    top: 40%;
    left: 35%;
    position: absolute;
}

.d_font2{
    top: 10%;
    left: 70%;
    position: absolute;
}