.delivery_sbox{
    bottom: 0%;
    background-color: #A5A5A5;
    height: 70%;
    width: 60%;
    /*position: absolute;*/
    border-style:solid;
    border-color: #0a0b0b;
}


.delivery_unpowerbox{
    bottom: 0%;
    background-color: #A5A5A5;
    height: 90%;
    width: 80%;
    border-style: solid;
    border: 3px #0a0b0b solid;
}



.delivery_unpowerbox2{
    bottom: 0%;
    background-color: whitesmoke;
    height: 85%;
    top: -40%;
    width: 85%;
    position: absolute;
    border-style: solid;

}



.i_time{
    height: 25px;
    width: 50px;
}

.delivery_quanxuan{
    width: 20%;
    height: 40%;
    top: -10%;
    right: 10%;
    position: absolute;
}

.d_button1{
    position: absolute;
    height: 20%;
    width: 20%;
    top: 10%;
    right: 5%;
}

.d_popup{
    height: 35%;
    width: 10%;
    right: 20%;
    bottom: -12%;
    position: fixed;
    background-color: #CDCDCD
}
.d_text{
    top: 20%;
    left: 10%;
    height: 60%;
    width: 30%;
    position: absolute;
    border-radius: 5%;
}
.d_choose{
    top: 20%;
    left: 40%;
    height: 60%;
    width: 30%;
    text-align: center;
    position: absolute;
    background-color: #CDCDCD;
    border-radius: 5%;
}
.d_font{
    top: 40%;
    left: 35%;
    position: absolute;
}

.d_font2{
    top: 35%;
    z-index: 9;
    left: 65%;
    position: absolute;
}

.d_exit{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 345%;
    margin-left: -19%;
    z-index: 10;
}

.d_information_delivery{
    background-color:  #ED7D31;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 250%;
    margin-left: -19%;
    /* z-index: 10;*/
}

.d_information_service{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 100%;
    margin-left: -19%;
}

.d_field_management{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 25%;
    margin-left: -19%;
}
.d_time_status{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 175%;
    margin-left: -19%;
}
.d_right{
    width:9%;
    /* height:93%;*/
    right: 14.5px;
    /* top: 8.5%;*/
    position: absolute;
    background-color: #CDCDCD;
    border-left: 1px solid #BBBBBB;
   /* margin-top: 53px;*/
    height: 91%;
}

.body_delivery{
    background: #CDCDCD;
    margin: 0 auto;
    height: 90%;
}