.delivery_sbox{
    bottom: 0%;
    background-color: #4472C4;
    height: 70%;
    width: 80%;
    position: absolute;
    border-style:solid;
    border-color: #0a0b0b;
}


.delivery_unpowerbox{
    bottom: 0%;
    background-color: #C8C8C8;
    height: 70%;
    width: 80%;
    position: absolute;
    border-style:solid;
    border-color: #0a0b0b;
}

.i_time{
    height: 25px;
    width: 25px;
}


.d_button1{
    background-color:  #4472C4;
    border:1px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    bottom: 0%;
    height: 15%;
    width: 8%;
    right: 2%;
    top: 2%;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
}

.d_popup{
    height: 35%;
    width: 10%;
    right: 9%;
    bottom: 15%;
    position: fixed;
    background-color: #C8C8C8 ;
}
.d_text{
    top: 20%;
    left: 10%;
    height: 60%;
    width: 30%;
    position: absolute;
    border-radius: 5%;
}
.d_choose{
    top: 20%;
    left: 45%;
    height: 60%;
    width: 30%;
    text-align: center;
    position: absolute;
    background-color: #CDCDCD;
    border-radius: 5%;
}
.d_font{
    top: 40%;
    left: 35%;
    position: absolute;
}

.d_font2{
    top: 35%;
    left: 80%;
    position: absolute;
}