
.t_button1{
     /*#4472C4*/
    background-color: #A5A5A5;
    border: none;
    color: white;
    /*padding: 15px 15px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 19px;*/
    /*圆角控制器*/
    /* border-radius: 10px; */
    height: 60%;
    width: 85%;
    /*position: absolute;*/
}

.f_button1{
   /* background-color: #BDD7EE;*/
    border: 1px solid;
    color: #66CBFF;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /*圆角控制器*/
    /* border-radius: 10px; */
    height: 12%;
    width: 21%;
    position: absolute;
}

.ff_button1{
    /* background-color: #BDD7EE;*/
    border: 1px solid red;
    background-color: #ED7D31;
    padding: 0px 50px;
    font-size: 20px;
    /*圆角控制器*/
    /* border-radius: 10px; */
}


.t_table{
    /*left: 3%;
    top: -5%;
    right: 2%;*/
    height: 125%;
    width: 87%;
   /* position: absolute;*/
}
.f_table{
    left: -8%;
    top: 4%;
    right: 2%;
    height: 44%;
    width: 90%;
    position: absolute;
    overflow: auto;
}

.fm_table1{
    /*height: 90%;
    width: 100%;*/
    margin-left:3px;
    border-spacing:20px;
    border-collapse:separate;
}

.t_text{
    height: 8%;
    width: 82%;
    bottom: 3%;
    left: 9.2%;
    position: absolute;
}

.t_message{
    height: 20%;
    width: 100%;
    margin-top: 1%;
    /*background-color: #D9E3F2;*/
   /* left: -30%;
    top: -15%;*/
    /*z-index: 3;*/
    /*position: relative;*/

}
/*请销假专用的格式*/
.t_event{

    height: 100%;
    width: 100%;
    background-color: #DAE3F3;
    left: 0%;
    top: 0%;
    /*z-index: 3;*/
    position: absolute;
    display: none;

}
.t_even_message{
    height: 20%;
    width: 200%;
   /* background-color: #4472c4;*/
    left: -40%;
    top: 7%;
    /*z-index: 3;*/
    position: relative;
}
.t_even_staets{
    height: 30%;
    width: 90%;
    position: absolute;
    top: 65%;
    left: 3%;
   /* border: 1px #ED7D31 solid;*/
}

.t_even_id{
    height: 100%;
    left: 21%;
    width: 24%;
    position: absolute;
    background-color: #4472C4;
    top: 10%;
    font-size: 13px;
    border: 1px #447302 solid;
}
.t_even_name{
    right: 31%;
    height: 100%;
    width: 20%;
    position: absolute;
    background-color:#4472C4 ;
    top: 10%;
    font-size: 13px;
    border: 1px #447302 solid;
}
.even_button1{
    background-color: #4472C4;
    width: 40%;
    color: white;
}
.even_button2{
    background-color: #4472C4;
    width: 45%;
    color: white;
}
/*请销假专用的格式*/

.t_hiddenArea{
    position: absolute;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=60);
    opacity: 0.6;
    display: none;
    z-index: 2;
}




.t_button2{
   /* left: 15%;*/
    left: 10%;
    top: 18%;
    /*position: absolute;*/
    background-color: #808080;
    border-radius: 50%;
    height: 100%;
    width: 7.8125%;
    float: left;
}

.t_id{
    height: 100%;
    left: 20%;
    width: 20%;
    /*position: absolute;*/
    background-color: #4472C4;
    top: 10%;
    font-size: 13px;
    border: 1px #447302 solid;
    float: left;
    margin-left: 3%;
}

.t_name{
    right: 30%;
    height: 100%;
    width: 60%;
    /*position: absolute;*/
    background-color:#4472C4 ;
    top: 10%;
    font-size: 13px;
    border: 1px #447302 solid;
    float: left;
    margin-left: 2%;
}

.t_student1{
   /* background-color: #4472C4;*/
    width: 100%;
    height: 70%;
    /*left: -9%;*/
    /*position: relative;*/
    /*top:-7%;*/
}


.t_student{
    height: 70%;
    width: 45%;
    position: absolute;
    background-color:#4472C4 ;
    top: 7%;
    left: 5%;
}

.t_computer{
    height: 70%;
    width: 45%;
    position: absolute;
    background-color:#4472C4 ;
    top: 7%;
    right: 3%;
}

.t_progress{
    height: 5%;
    width: 40%;
    position: absolute;
    top: 78%;
    left: 30%;
}

.t_staets{
    height: 15%;
    width: 96%;
    /*position: absolute;*/
    /*top: 79%;
    left: 3%;*/
    border: 1px #ED7D31 solid;
}


.t_button3{
    background-color:  #4472C4;
    border:1px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    position: absolute;
    bottom: 0%;
    height: 8%;
    width: 8%;
    left: 45%;
}
.t_button4{
    background-color:  #ED7D31;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 140%;
    margin-left: -19%;
}

.t_exit{
     background-color:  #4472C4;
     border: none;
     color: white;
     /*padding: 10px 10px;*/
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 27px;
     border-radius: 14px;
     height: 80px;
     width: 80px;
     border-right: 1px solid white;
     box-shadow: 0px 3px 0px rgba(0,0,0,.2);
     position: absolute;
     margin-top: 300%;
     margin-left: -19%;
     z-index: 10;
 }

.t_information_delivery{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 210%;
    margin-left: -19%;
   /* z-index: 10;*/
}

.t_information_service{
     background-color:  #4472C4;
     border: none;
     color: white;
     /*padding: 10px 10px;*/
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 27px;
     border-radius: 14px;
     height: 80px;
     width: 80px;
     border-right: 1px solid white;
     box-shadow: 0px 3px 0px rgba(0,0,0,.2);
     position: absolute;
     margin-top: 65%;
     margin-left: -19%;
 }

.t_field_management{
    background-color:  #4472C4;
    border: none;
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    border-radius: 14px;
    height: 80px;
    width: 80px;
    border-right: 1px solid white;
    box-shadow: 0px 3px 0px rgba(0,0,0,.2);
    position: absolute;
    margin-top: 10%;
    margin-left: -19%;
}
.t_right{
    width:9%;
    /* height:93%;*/
    /*right: -2px;*/
    /* top: 8.5%;*/
    /*position: absolute;*/
    background-color: #CDCDCD;
    border-left: 1px solid #BBBBBB;
    height: 100%;
    float: left;
}
.t_center{
    /*left: 0.6%;
    top: 8.4%;*/
    width: 90%;
    height: 100%;
    /*position: fixed;*/
    background-color: #CDCDCD;
    overflow: auto;
    float: left;
}