<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.JbankMapper">
    <resultMap id="Jbanks" type="com.itboyst.facedemo.dto.Jbank">
        <id column="id" property="id" javaType="int"/>
        <result column="question" property="question" javaType="String"/>
        <result column="answer" property="answer" javaType="String"/>
        <result column="difficulty" property="difficulty" javaType="String"/>
        <result column="classify" property="classify" javaType="String"/>

    </resultMap>

    <!-- <resultMap id="userFace2" type="com.itboyst.facedemo.dto.FaceUserInfo">
         <id column="id" property="id" javaType="int"/>
         <result column="group_id" property="groupId" javaType="java.lang.Integer"/>
         <result column="face_id" property="faceId" javaType="String"/>
         <result column="phone_number" property="phoneNumber" javaType="String"/>
         <result column="create_time" property="createTime" javaType="java.util.Date"/>
         <result column="face_feature" property="faceFeature"/>
     </resultMap>-->


    <select id="findallJbank" resultMap="Jbanks" resultType="com.itboyst.facedemo.dto.Jbank">
        SELECT * FROM jbank ORDER BY RAND() LIMIT 2
    </select>


</mapper>