<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.Zassign_scheduleMapper">
    <resultMap id="Zassign_schedule" type="com.itboyst.facedemo.dto.Zassign_schedule">
        <id column="zid" property="zid" javaType="String"/>
        <result column="zstudentscheduleID" property="zstudentscheduleID" javaType="String"/>
        <result column="ztrainingtaskID" property="ztrainingtaskID" javaType="String"/>
        <result column="zpublishtime" property="zpublishtime" jdbcType="TIMESTAMP"/>
        <result column="zchecktime" property="zchecktime" jdbcType="TIMESTAMP"/>
        <result column="zcompletetime" property="zcompletetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="updatechecktime" parameterType="com.itboyst.facedemo.dto.Zassign_schedule" >
        update zassign_schedule set zchecktime = #{zchecktime} where zstudentscheduleID = #{zstudentscheduleID} AND ztrainingtaskID = #{ztrainingtaskID}
    </update>

    <select id="findtaskisin"  resultType="java.lang.Integer">
      SELECT COUNT(*) FROM zassign_schedule WHERE ztrainingtaskID=#{ztrainingtaskID} AND zstudentscheduleID IN (SELECT zid FROM zstudent_schedule WHERE zstudentID=#{zstudentID} AND zscheduleID=#{zscheduleID}) ;
    </select>

    <insert id="insertfixedtask" parameterType="com.itboyst.facedemo.dto.Zassign_schedule" >
            INSERT INTO zassign_schedule(zid,zstudentscheduleID,ztrainingtaskID,zpublishtime) VALUES(#{zid},(select zid from zstudent_schedule where zscheduleID=#{zscheduleID} and zstudentID=#{zstudentID}) ,#{ztrainingtaskID},#{zpublishtime});
    </insert>

    <update id="updatecompletetime" parameterType="com.itboyst.facedemo.dto.Zassign_schedule" >
        update zassign_schedule set zcompletetime = #{zcompletetime} where zstudentscheduleID = #{zstudentscheduleID} AND ztrainingtaskID = #{ztrainingtaskID}
    </update>

    <insert id="insertzassignzschedule" parameterType="com.itboyst.facedemo.dto.Zassign_schedule">

        insert into zassign_schedule (zid,zstudentscheduleID,ztrainingtaskID,zpublishtime)
        values(#{zid},#{zstudentscheduleID},#{ztrainingtaskID},#{zpublishtime})
    </insert>
</mapper>