<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.Zname_facilityMapper">
    <resultMap id="zstudent_facility" type="com.itboyst.facedemo.dto.Zstudent_facility">
        <id column="zid" property="zid" javaType="String"/>
        <result column="zname" property="zname" javaType="String"/>
        <result column="zidentity" property="zidentity" javaType="String"/>


    </resultMap>




    <select id="findnameandf"  resultType="com.itboyst.facedemo.dto.Zstudent_facility">
        select a.zid zid, a.zname zname,b.zidentity zidentity from zstudent  a,ztraining_facility b where a.zid=( select zstudentID from zstudent_login where zrecognizeIP =( select zstudentPCIP from ztraining_facility where zid=#{zid} and (zprogress='登陆' or zprogress='安全测试' or zprogress='实训')) ORDER BY zrecognizetime desc LIMIT 1) and b.zid=#{zid}
    </select>



</mapper>