<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.Zstudent_eventMapper">
    <resultMap id="Zstudent_event" type="com.itboyst.facedemo.dto.Zstudent_event">
        <id column="zid" property="zid" javaType="String"/>
        <result column="zstudentID" property="zstudentID" javaType="String"/>
        <result column="ztype" property="ztype" javaType="String"/>
        <result column="zcontent" property="zcontent" javaType="String"/>
        <result column="zapplicationtime" property="zapplicationtime" jdbcType="TIMESTAMP"/>
        <result column="zhandletime" property="zhandletime" jdbcType="TIMESTAMP"/>
        <result column="zstatus" property="zstatus" javaType="String"/>
    </resultMap>



    <update id="updateeventstatus" parameterType="com.itboyst.facedemo.dto.Zstudent_event">
        update zstudent_event set zstatus =#{zstatus} where zstudentID=#{zstudentID} and ztype=#{ztype} and zstatus='申请中'
    </update>

    <select id="findisevent"  resultType="java.lang.Integer">
            SELECT count(*) FROM zstudnet_event WHERE zstudentID=#{zstudentID}  AND ztype='请假' and zstatus='申请中';
    </select>


    <insert id="insertevent" parameterType="com.itboyst.facedemo.dto.Zstudent_event" >
               INSERT INTO zstudent_event (zid, zstudentID, ztype, zcontent ,zapplicationtime, zhandletime,zstatus) VALUES(#{zid}, #{zstudentID}, #{ztype}, #{zcontent} ,#{zapplicationtime}, #{zhandletime},#{zstatus});
    </insert>


    <delete id="deleteupmes" parameterType="java.lang.String">
            DELETE FROM zstudent_event WHERE zid=#{zid}
    </delete>

    <!--   <select id="getUserFaceInfoByGroupId" resultMap="userFace2" parameterType="java.lang.Integer" resultType="com.itboyst.facedemo.dto.FaceUserInfo">
           select face_id,name,face_feature from user_face_info
       </select>-->
    <delete id="deleteleave" parameterType="java.lang.String">
            DELETE FROM zstudent_event WHERE zstudentID=#{zstudentID} and ztype=#{ztype}
    </delete>


    <select id="findRaiseHandByFacility" resultType="com.itboyst.facedemo.dto.Zstudent_event">
     select max(a.zapplicationtime),a.zid,a.zstudentID,a.ztype,a.zcontent,a.zstatus,a.zhandletime from (SELECT *
               FROM zstudent_event
               WHERE zstatus ="申请中" AND (TIME_TO_SEC(NOW())- TIME_TO_SEC(zapplicationtime)&lt;3600) AND zstudentID=(SELECT zstudentID FROM zstudent_login WHERE zrecognizeIP=(SELECT zstudentPCIP FROM ztraining_facility WHERE zid=#{zid})))a
    </select>
</mapper>