<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.Zstudent_loginMapper">
    <resultMap id="zstudent_login" type="com.itboyst.facedemo.dto.Zstudent_login">
        <id column="zid" property="zid" javaType="String"/>
        <result column="zstudentID" property="zstudentID" javaType="String"/>
        <result column="zrecongnizetime" property="zrecongnizetime" jdbcType="TIMESTAMP"/>
        <result column="ztype" property="ztype" javaType="String"/>
        <result column="zrecognizeIP" property="zrecognizeIP" javaType="String"/>

    </resultMap>


    <delete id="deletefront" parameterType="com.itboyst.facedemo.dto.Zstudent_login">
    	DELETE FROM zstudent_login WHERE zstudentID = #{zstudentID};
  	</delete>



    <select id="findfront"  resultType="com.itboyst.facedemo.dto.Zstudent_login">
            SELECT * FROM zstudent_login WHERE zstudentID = #{zstudentID}
    </select>

    <select id="findAllStudentLogin"  resultType="com.itboyst.facedemo.dto.Zstudent">
            SELECT * FROM zstudent_login ORDER BY zrecognizetime DESC
    </select>

    <insert id="insertnowmessage" parameterType="com.itboyst.facedemo.dto.Zstudent_login" >
        INSERT INTO zstudent_login (zid,zstudentID,zrecognizetime, ztype, zrecognizeIP) VALUES(#{zid}, #{zstudentID},#{zrecongnizetime}, #{ztype}, #{zrecognizeIP});
    </insert>

    <update id="updateloginstate" parameterType="com.itboyst.facedemo.dto.Zstudent_login" >
      UPDATE zstudent_login SET zstatus=#{zstatus} WHERE ztype='机床' AND zstatus='正常' AND zrecognizeIP IN (SELECT zstudentPCIP FROM ztraining_facility WHERE ztrainingroomID=#{ztrainingroomID});
    </update>



</mapper>