<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.Zteacher_commandMapper">
    <resultMap id="Zteacher_command" type="com.itboyst.facedemo.dto.Zteacher_command">
        <id column="zid" property="zid" javaType="String"/>
        <result column="ztrainingroomID" property="ztrainingroomID" javaType="String"/>
        <result column="ztype" property="ztype" javaType="String"/>
        <result column="zcontent" property="zcontent" javaType="String"/>
        <result column="zpublishtime" property="zpublishtime" jdbcType="TIMESTAMP"/>
        <result column="zstatus" property="zstatus" javaType="String"/>
    </resultMap>



<!--zstatus='有效'-->
   <select id="findcommand"  resultType="com.itboyst.facedemo.dto.Zteacher_command">
        SELECT * FROM zteacher_command WHERE ztrainingroomID=#{ztrainingroomID} AND (ztype='签到' OR ztype='查岗' OR ztype='滚屏信息' AND zstatus='有效');
    </select>

    <insert id="insertcommand" parameterType="com.itboyst.facedemo.dto.Zteacher_command" >
               INSERT INTO zteacher_command (zid, ztrainingroomID, ztype, zcontent ,zpublishtime, zstatus) VALUES(#{zid},#{ztrainingroomID} , #{ztype}, #{zcontent} ,#{zpublishtime}, #{zstatus});
    </insert>

    <delete id="deletebefore" parameterType="com.itboyst.facedemo.dto.Zteacher_command">
		delete from zteacher_command where ztrainingroomID= #{ztrainingroomID} and ztype=#{ztype}
	</delete>

    <update id="updatestate" parameterType="com.itboyst.facedemo.dto.Zteacher_command">
        update zteacher_command set zstatus =#{zstatus} where ztrainingroomID=#{ztrainingroomID} and ztype=#{ztype}
    </update>


</mapper>