<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.Zteacher_temporary_taskMapper">
    <resultMap id="Zteacher_temporary_task" type="com.itboyst.facedemo.dto.Zteacher_temporary_task">
        <id column="zid" property="zid" javaType="String"/>
        <result column="zstudentscheduleID" property="zstudentscheduleID" javaType="String"/>
        <result column="zsafetestingID" property="zsafetestingID" javaType="String"/>
        <result column="zorder" property="zorder" javaType="int"/>
        <result column="zstate" property="zstate" javaType="String"/>
        <result column="zinput" property="zinput" javaType="String"/>
        <result column="zscore" property="zscore" javaType="int"/>
    </resultMap>



        <select id="findtitle"  resultType="com.itboyst.facedemo.dto.Zteacher_temporary_task">
            SELECT zid,ztitle FROM zteacher_temporary_task WHERE zstudentID=#{zstudentID} AND TO_DAYS(NOW())-TO_DAYS(zpublishtime)<![CDATA[ <= ]]>300 ORDER BY zpublishtime;
        </select>


    <!-- <insert id="insertstujounal" parameterType="com.itboyst.facedemo.dto.Zstudent_journal" >
                INSERT INTO zstudent_journal (zid,zstudentID,ztype,zoperatedate, zoperatecontent) VALUES(#{zid}, #{zstudentID},#{ztype},#{zoperatedate}, NULL);
     </insert>-->

   <!-- <delete id="deleteftestinput" parameterType="com.itboyst.facedemo.dto.Ztesting_input">
    	DELETE FROM ztesting_input WHERE zstudentscheduleID=#{zstudentscheduleID};
  	</delete>-->





</mapper>