<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.Ztraining_cameraMapper">

    <select id="findAllByZtrainingroomID" resultType="com.itboyst.facedemo.dto.Ztraining_camera">

        select * from ztraining_camera where ztrainingroomID=#{ZtrainingroomID} and ztitle=#{type}

    </select>

</mapper>