.p_left{
    width:15%;
    height:60%;
    left: 0%;
    top: 6.7%;
    border-right: 2px solid #97A7C5;
    position: fixed;
}
.p_center{
    left: 15%;
    right: 10%;
    width:75%;
    height: 60%;
    top: 6.7%;
    position: fixed;
}

.p_bbbox{
    left: 5%;
    top: -10%;
    right: 5%;
    width: 90%;
    height: 98%;
    position: absolute;
}

.power_bbox{
    width: 11%;
    height: 18%;
    position: absolute;
}

.power_sbox{
    bottom: 0%;
    background-color: #70AD47;
    height: 70%;
    width: 80%;
    position: absolute;
}

.popup{
    height: 25%;
    width: 10%;
    right: 9%;
    bottom: 10%;
    position: fixed;
    background-color: #C8C8C8 ;

}

.p_check{
    bottom: 0%;
    background-color: whitesmoke;
    right: 0%;
    position: absolute;
}



.p_right{
    width:10%;
    height:93%;
    right: 0%;
    top: 6.7%;
    border-left: 2px solid  #BBBBBB;
    position: fixed;
}

.p_text{
    width:90%;
    height:30%;
    left: 0%;
    top: 66.8%;
    border-top: 2px solid #97A7C5;
    position: fixed;
}


.p_button1{
    background-color: #FFC000;
    border-right: 1px solid rgba(104, 103, 105, 0.73);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.p_button2{
    background-color:#70AD47;
    border-right: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}
.p_button3{
    background-color:  #4472C4;
    border-right: 1px solid rgba(104, 103, 105, 0.73);
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.p_button4{
    background-color:  #ED7D31;
    border-right: 1px solid rgba(104, 103, 105, 0.73);
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}
.p_button5{
    background-color:  #4472C4;
    border-right: 1px solid rgba(104, 103, 105, 0.73);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;

}

.parent{
    width:100%;
    height: 100%;
    /* 以下属性垂直居中 */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity:1;
    background-color: #AEC2E6;
    opacity:0.5;
}